src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="e32b6ed5-a119-4cdb-ac64-08d7604e8737" >
		<http:listener doc:name="Listener" doc:id="609a52db-4e50-47fe-8311-ac3307f50eef" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="c16afb15-4183-4a87-a97f-fcb7faa6aa79">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="71d1b3d7-1fbf-410b-a2a2-c14c3797b427" message="Request Received for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="90121058-ae73-4849-aff6-e6239bed2ca6" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="1e678b09-f261-4d4d-9966-fd7af604298c" message="Routes flow called for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="ceb3d13f-85b5-4b3c-bf2a-fc9b6d2d4e1a" name="TravelOnTip-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="355e42b5-9448-4e76-a0c5-7288332dc05a" message="Schedule flow called for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="176b879b-764f-47af-a3a0-15d0079b96d0" name="TravelOnTip-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="390c0249-388b-4c0b-91c0-1a790e588476" message="URI Parameter is correct for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="c7694792-52b3-43a6-8007-e293941168f4" message="Response Sent for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6924d2b7-d491-4bbb-8cc7-5340fe3c6586" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="043de8c2-028d-4d7b-ba25-b957557990cf" message="Error Occure for TravelOnTip External System for TransactionId: #[vars.transactionId] reason: #[error.errorMessage] error Type: #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="c20c89aa-a328-4ae3-8ea8-60163826631d" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1023",
	"ErrorMessage" : "Error in TravelOnTrip System"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

</mule>
